* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
button,
textarea,
select {
  border: none;
  outline: none;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}
